.title-header {
	justify-content: center;
	display: flex;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 5px;
}
.logo {
	margin-left: 5px;
	margin-top: 5px;
}
.title-text {
	color: rgb(236, 236, 236);
	font-weight: bold;
}
.search-content-wrapper {
	justify-content: center;
	display: flex;
}
